@use '/src/scss/common/variables' as v;

body.dark {
  background-color: v.$dark-bg-page;
  color: v.$dark-text-primary;

  a { color: v.$dark-text-primary; }

  .theme {
    border-color: v.$dark-border-primary;

    .dark-btn { background: v.$text-accent url("/src/assets/icons/dark/moon.svg") center no-repeat; }
  }

  .theme:hover {
    .light-btn { background-color: v.$dark-bg-container; }
  }

  .menu-item { background-image: url("/src/assets/icons/dark/coffee-cup.svg"); }

  nav a:hover,
  a.menu-item:hover {
    border-bottom: 2px solid v.$dark-text-primary;
  }

  .burger {
    border: 1px solid v.$dark-border-inverse;
    
    .line { background-color: v.$dark-text-primary; }
  }

  .hero button {
    background-color: v.$dark-bg-page;
    color: v.$dark-text-primary;

    .cup { background-image: url("/src/assets/icons/dark/coffee-cup.svg"); }
  }

  .slider-btn {
    background: url("/src/assets/icons/dark/arrow.svg") center no-repeat;
    border-color: v.$dark-border-inverse;
  }

  .slider-btn:hover {
    background: v.$dark-bg-container url("/src/assets/icons/dark/arrow.svg") center no-repeat;
    border-color: v.$dark-bg-container;
  }

  .slider-dots {
    .dot { background-color: v.$dark-border-primary; }
    .dot--active { background-color: v.$dark-border-inverse; }
  }

  .download-btn {
    a { border-color: v.$dark-border-inverse; }
    .apple { background: url("/src/assets/icons/dark/app-store.svg") center no-repeat; }
    .google { background: url("/src/assets/icons/dark/google-store.svg") center no-repeat; }
    a:hover {
      background: v.$dark-bg-container;
      border-color: v.$dark-bg-container;
    }
  }

  .footer {
    &__content {
      background-color: v.$dark-bg-container;
    }

    &__socials {
      a { border-color: v.$dark-border-primary; }
      a:hover {
        border-color: v.$dark-bg-page;
        background-color: v.$dark-bg-page;
      }
    }

    &__contacts {
      ul li { border-bottom-color: v.$dark-bg-container; }
      ul li:hover { border-bottom-color: v.$text-inverse; }
    }
  }

  .catalog {

    .categories {
      button {
        border-color: v.$dark-border-primary;
        color: v.$text-inverse;
      
        .coffee-icon { background: v.$dark-border-primary url("/src/assets/icons/categories/coffee-icon.png") center no-repeat; }
        .tea-icon { background: v.$dark-border-primary url("/src/assets/icons/categories/tea-icon.png") center no-repeat; }
        .dessert-icon { background: v.$dark-border-primary url("/src/assets/icons/categories/dessert-icon.png") center no-repeat; }
      }

      button:hover,
      .active {
        background: v.$dark-bg-container;
        border-color: v.$dark-bg-container;

        .coffee-icon { background: v.$dark-bg-page url("/src/assets/icons/categories/coffee-icon.png") center no-repeat; }
        .tea-icon { background: v.$dark-bg-page url("/src/assets/icons/categories/tea-icon.png") center no-repeat; }
        .dessert-icon { background: v.$dark-bg-page url("/src/assets/icons/categories/dessert-icon.png") center no-repeat; }
      }
    }

    .coffee-card { border-color: v.$dark-border-primary; }
  }
}