@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

#favorite {
  @include m.flex-settings (column, no-wrap, 40px, start, stretch);

  h2 {
    text-align: center;
  }

  .slider {
    @include m.flex-settings (row, no-wrap, 40px, space-between, center);
  }

  .slide {
    flex-grow: 1;
    @include m.flex-settings (column, no-wrap, 20px, start, center);
  }

  .coffee-image {
    max-width: 480px;

    img {
      width: 100%;
    }
  }

  .coffee-info {
    max-width: 470px;
    @include m.flex-settings (column, no-wrap, 16px, start, center);

    h3,
    .price {
      font-size: 24px;
    }
    .desc {
      font-weight: 400;
      text-align: center;
    }
  }

  .slider-btn {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    flex-shrink: 0;
  }

  .slider-btn--right {
    transform: rotate(180deg);
  }

  .slider-dots {
    @include m.flex-settings (row, no-wrap, 12px, center, stretch);

    .dot {
      width: 40px;
      height: 4px;
      border-radius: 100px;
    }
  }
}