@use '/src/scss/common/mixins' as m;
@use '/src/scss/common/variables' as v;

.catalog {
  @include m.flex-settings (column, no-wrap, 40px, start, center);

  h2 {
    max-width: 800px;
    text-align: center;
  }

  .categories {
    @include m.flex-settings (row, no-wrap, 16px, start, stretch);

    button {
      border-radius: 100px;
      padding: 8px 16px 8px 8px;
      border-width: 1px;
      border-style: solid;
      background: transparent;
      font-weight: 600;
      @include m.flex-settings (row, no-wrap, 8px, start, center);

      span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }

  .coffee-grid {
    width: 100%;
    @include m.grid-settings (310px, 1fr, 40px);
  }

  .coffee-card {
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    cursor: pointer;
    @include m.flex-settings (column, no-wrap, 0, start, stretch);

    &__img {
      overflow: hidden;
      border-radius: 40px;
    }

    img {
      width: 100%;
      transform: scale(1.1);
    }

    &__content {
      padding: 20px;
      @include m.flex-settings (column, no-wrap, 12px, start, stretch);
      flex-grow: 1;

      .description {
        flex-grow: 1;
        font-weight: 400;
      }

      .price {
        font-size: 24px;
      }
    }
  }

  .coffee-card:hover img{
    transform: scale(1);
  }
}