@use '/src/scss/common/variables' as v;
@use '/src/scss/common/mixins' as m;

header {
  @include m.flex-settings (row, no-wrap, 0, start, center);

  .nav {
    flex-grow: 1;

    ul {
      @include m.flex-settings (row, no-wrap, 2vw, start, stretch);
      width: fit-content;
      margin: 0 auto;
    }
  }

  .action {
    @include m.flex-settings (row, no-wrap, 24px, start, center);
  }

  .theme {
    @include m.flex-settings (row, no-wrap, 8px, start, center);
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    padding: 4px;
    cursor: pointer;

    .light-btn {
      background: url("/src/assets/icons/Sun.svg") center no-repeat;
    }

    .light-btn,
    .dark-btn {
      border-radius: 50%;
      width: 36px;
      height: 36px;
    }
  }

  .menu-item {
    padding-right: 28px;
    background-position: right;
    background-repeat: no-repeat;
    border-bottom: 2px solid transparent;
  }

  .burger {
    display: none;
    border: 1px solid v.$background-container;
    border-radius: 100px;
    width: 44px;
    height: 44px;
    cursor: pointer;

    .line {
      width: 18px;
      height: 1px;
      background-color: v.$text-primary;
    }
  }
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
    
    .nav {
      @include m.flex-settings (column, no-wrap, 100px, center, center);
      position: absolute;
      inset: 0;
      top: 80px;
      z-index: 2;
      width: 0;
      padding: 0;
      overflow: hidden;
      animation: hide .4s ease;

      ul {
        display: none;
      }
    }

    .menu-item {
      display: none;
    }

    .show-nav {
      @include m.flex-settings (column, no-wrap, 100px, center, center);
      width: 100%;
      padding: 60px 40px;
      animation: show .4s ease;

      ul {
        @include m.flex-settings (column, no-wrap, 60px, center, center);
      }

      a {
        font-size: 32px;
      }
    }

    .show-link {
      display: inline;
      background-size: 30px;
      padding-top: 10px;
      padding-right: 46px;
      padding-bottom: 5px;
    }

    .burger {
      @include m.flex-settings (column, no-wrap, 8px, center, center);
    }

    .show {
      .line {
        transform: rotate(45deg);
      }

      .line:nth-child(2) {
        transform: rotate(-45deg);
        margin-top: -9px;
      }
    }
  }

  @keyframes show {
    0% {
      width: 0;
      padding: 0;
    }

    100% {
      width: 100%;
      padding: 60px 40px;
    }
  }

  @keyframes hide {
    0% {
      width: 100%;
      padding: 60px 40px;
    }

    100% {
      width: 0;
      padding: 0;
    }
  }
}